[submodule "devel/i3pystatus"]
	path = devel/i3pystatus
	url = git@github.com:enkore/i3pystatus.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "devel/base16-shell"]
	path = devel/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "devel/autobot"]
	path = devel/autobot
	url = git@github.com:mikn/autobot.git
