[Unit]
Description=watch for sleep signal to start sleep.target

[Service]
ExecStart=%h/bin/watch_sleep
Restart=on-failure

[Install]
WantedBy=default.target
